# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Django
db.sqlite3
*.log
staticfiles/

# Environment
.env
.env.*

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml

# IDE
.vscode/
.idea/